.navbar {
  background-color: transparent;
  height: 5vh;
  display: flex;
  box-shadow: none;
}

.navbar.active {
  background: linear-gradient(90deg, rgb(57 35 64) 0%, rgb(45 31 56) 100%);
}

.MuiToolbar-root {
  position: absolute;
  width: 100%;
  margin-top: 0.2%;
}

.MuiBreadcrumbs-li:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.25);
  border-radius: 10%;
  border-width: 500px;
  transition: 0.3s;
}

.MuiBreadcrumbs-li {
  margin: 1em;
  padding: 1em;
  color: white;
  font-size: 10px;
}

.MuiBreadcrumbs-separator {
  color: white;
  transform: rotate(-15deg);
}
.app-bar-text {
  font-family: "Titan One", cursive;
  font-weight: 400;
}
