.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-color: white;
  border-width: 2px;
}
.about-me-background {
  background: url("https://res.cloudinary.com/nucat/image/upload/v1633184582/stardust_rpeg3y.webp"),
    linear-gradient(0deg, rgba(45, 31, 56, 1) 80%, rgba(55, 32, 61, 1) 100%);
    padding-bottom: 6%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.about-me {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6%;
  height: 100%;
  margin-top: 50px;
}

.about-me-box {
  height: fit-content;
  margin-top: -5vh;
  box-shadow: 5px 4px 50px #000000;
  background-color: #2d1f38;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-me-title {
  color: white;
  font-family: "Titan One", cursive;
  font-weight: 400;
  padding-top: 2vh;
}

.about-me-text {
  color: white;
  padding: 1em;
  padding-top: 3vh;
  height: 100%;
  font-family: "Oxygen", sans-serif;
  opacity: 0.7;
}

.circle-neon {
  animation: circle-animation 3s ease-in-out infinite alternate;
  height: 75vh;
  width: 100%;
}

@keyframes circle-animation {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px #fff)
      drop-shadow(0 0 3px #fff) drop-shadow(0 0 4px #3bfc9b)
      drop-shadow(0 0 5px #3bfc9b) drop-shadow(0 0 10px #3bfc9b)
      drop-shadow(0 0 14px #3bfc9b) drop-shadow(0 0 20px #3bfc9b);
  }
  to {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff)
      drop-shadow(0 0 6px #fff) drop-shadow(0 0 10px #3bfc9b)
      drop-shadow(0 0 13px #3bfc9b) drop-shadow(0 0 15px #3bfc9b)
      drop-shadow(0 0 20px #3bfc9b) drop-shadow(0 0 26px #3bfc9b);
  }
}

.box-with-avatar {
  height: 65vh;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.circle-div {
  margin-top: 24vh;
  position: absolute;
  margin-right: 55%;
  width: 100%;
}

.grid-about {
  height: 40%;
  z-index: 2;
  justify-content: center;
}

.triangle-neon {
  animation: triangle-animation 5s ease-in-out infinite alternate;
  position: absolute;
  transform: rotate(25deg);
}

.triangle-div {
  position: absolute;
  margin-left: 65%;
  width: 25%;
}

@keyframes triangle-animation {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px #fff)
      drop-shadow(0 0 3px #fff) drop-shadow(0 0 4px #1bffec)
      drop-shadow(0 0 5px #1bffec) drop-shadow(0 0 10px #1bffec)
      drop-shadow(0 0 14px #1bffec) drop-shadow(0 0 20px #1bffec);
  }
  to {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fff)
      drop-shadow(0 0 6px #fff) drop-shadow(0 0 10px #1bffec)
      drop-shadow(0 0 13px #1bffec) drop-shadow(0 0 15px #1bffec)
      drop-shadow(0 0 20px #1bffec) drop-shadow(0 0 26px #1bffec);
  }
}
