
  .contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    top: 75%;
  }
  .contact-icons {
    font-size: 10em;
    color: white;
    margin-bottom: 30px;
  }
  .facebook {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 1px #fff) drop-shadow(0 0 4px #ff7d13)
      drop-shadow(0 0 5px #ff7d13);
  }
  .github {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 1px #fff) drop-shadow(0 0 4px #3bfc9b)
      drop-shadow(0 0 5px #3bfc9b);
  }
  
  .email {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 1px #fff) drop-shadow(0 0 4px #1bffec)
      drop-shadow(0 0 5px #1bffec);
  }
  
  .facebook:hover {
    box-shadow: 0 0 1px #ff7d13, 0 0 2px #ff7d13, 0 0 3px #ff7d13, 0 0 4px #ff7d13,
      0 0 5px #ff7d13;
    transition: 0.2s;
  }
  .email:hover {
    box-shadow: 0 0 1px #1bffec, 0 0 2px #1bffec, 0 0 3px #1bffec, 0 0 4px #1bffec,
      0 0 5px #1bffec;
    transition: 0.2s;
  }
  
  .github:hover {
    box-shadow: 0 0 1px #3bfc9b, 0 0 2px #3bfc9b, 0 0 3px #3bfc9b, 0 0 4px #3bfc9b,
      0 0 5px #3bfc9b;
    transition: 0.2s; }
    
    .contact-background {
      height: 80vh;
      width: 100%;
      background: rgba(45, 31, 56, 1);
      margin-top: -50vh;

  }