@media only screen and (max-width: 900px) {
  .title {
    font-size: 2.75em;
  }
  .title-p {
    visibility: collapse;
  }
  .empty-box {
    display: none;
  }
  .toolbar {
    justify-content: center;
  }
  .blue-line {
    transform: rotate(20deg) scale(1.5) !important;
  }
  .blue-line-2 {
    transform: scale(1.5) rotate(15deg) !important;
  }
  .green-line {
    transform: scale(1.5) rotate(75deg) !important;
  }
  .orange-line {
    transform: scale(1.5) rotate(-60deg) !important;
  }
  .orange-line-2 {
    transform: scale(1.5) rotate(-60deg) !important;
  }


}

@media only screen and (max-width: 1200px) {
  .circle-div {
    margin-right: 0 !important;
    margin-top: 23vh !important;
  }
  .triangle-div {
    display: none;
  }


}

@media only screen and (max-width: 600px) {
  .circle-div {
    margin-top: 18vh !important;
  }
  .about-me-text {
    padding-top: 1vh !important;
  }
}

body {
  cursor: default;
}
