@media only screen and (max-width: 858px) {
  .title {
    font-size: 2.75em;
  }
  .titleP {
    visibility: collapse;
  }
  .emptyBox {
    display: none;
  }
  .toolbar {
    justify-content: center;
    align-items: center;
  }
  .blueLine {
    transform: rotate(20deg) scale(1.5) !important;
  }
  .blueLine2 {
    transform: scale(1.5) rotate(15deg) !important;
  }
  .greenLine {
    transform: scale(1.5) rotate(75deg) !important;

  }
  .orangeLine {
    transform: scale(1.5) rotate(-60deg) !important;
  }
  .orangeLine2 {
    transform: scale(1.5) rotate(-60deg) !important;
  }
}

body {
  cursor: default;
}

