.landing-page-background {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .landing-page {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .title {
    font-family: "Monoton", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 6em;
    text-align: center;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 2vh;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 14px #fff, 0 0 20px #ff7d13,
      0 0 25px #ff7d13, 0 0 35px #ff7d13, 0 0 45px #ff7d13, 0 0 60px #ff7d13;
    padding: 0 2% 0 2%;
    animation: blink 5s infinite alternate;
  }
  @keyframes blink {
    0.1% {
      opacity: 1;
    }
    0.4% {
      opacity: 0.3;
    }
    0.7% {
      opacity: 1;
    }
    1% {
      opacity: 0.3;
    }
    1.3% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  .title-p {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
  }
  
  .arrow {
    font-size: 7em;
    color: #ffffff;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px #fff)
      drop-shadow(0 0 3px #fff) drop-shadow(0 0 4px #ff7d13)
      drop-shadow(0 0 5px #ff7d13) drop-shadow(0 0 10px #ff7d13)
      drop-shadow(0 0 14px #ff7d13) drop-shadow(0 0 20px #ff7d13);
  }
  .arrow-link {
    position: absolute;
    left: 50%;
    bottom: 1vh;
    margin-left: -56px;
    opacity: 1;
    border-radius: 50%;
    animation: slide-1 1s ease-in-out infinite;
  }
  
  .arrow-link:hover {
    background-color: rgb(0, 0, 0, 0.2);
  }
  
  @keyframes slide-1 {
    0%,
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  
    50% {
      -webkit-transform: translate(0, 5px);
      transform: translate(0, 5px);
    }
  }
  .MuiButton-root {
    color: rgb(0, 0, 0, 0);
  }
  .blue-line {
    background-color: white;
    height: 2px;
    width: 8%;
    box-shadow: 0 0 5px #1bffec, 0 0 10px #1bffec, 0 0 14px #1bffec,
      0 0 20px #1bffec, 0 0 25px #1bffec, 0 0 35px #1bffec, 0 0 45px #1bffec,
      0 0 60px #1bffec;
    z-index: 0;
    position: absolute;
    animation: blue-line-animation 5s infinite 4s;
  
    visibility: hidden;
    will-change: transform, opacity, visibility, opacity;
    top: 28%;
    left: 2%;
  }
  
  @keyframes blue-line-animation {
    0% {
      visibility: visible;
      -webkit-transform: translate(0, 0) rotate(10deg);
      transform: translate(0, 0) rotate(10deg);
    }
    15% {
      -webkit-transform: translate(48vw, 22vh) scale(0.2) rotate(10deg);
      transform: translate(48vw, 22vh) scale(0.2) rotate(10deg);
      opacity: 0;
    }
    20%,
    95% {
      -webkit-transform: translate(0, 0) rotate(10deg);
      transform: translate(0, 0) scale(1) rotate(10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(20deg);
      transform: translate(0, 0) rotate(20deg);
    }
  }
  .blue-line-2 {
    background-color: white;
    height: 2px;
    width: 8%;
    top: 60%;
    left: 80%;
    box-shadow: 0 0 5px #1bffec, 0 0 10px #1bffec, 0 0 14px #1bffec,
      0 0 20px #1bffec, 0 0 25px #1bffec, 0 0 35px #1bffec, 0 0 45px #1bffec,
      0 0 60px #1bffec;
    z-index: 0;
    position: absolute;
    animation: blue-line-2Animation 2.3s infinite 3s;
    visibility: hidden;
    will-change: transform, opacity, visibility, opacity;
  }
  
  @keyframes blue-line-2Animation {
    0% {
      visibility: visible;
      -webkit-transform: translate(0, 0) rotate(10deg);
      transform: translate(0, 0) rotate(10deg);
    }
    15% {
      -webkit-transform: translate(-40vw, -10vh) rotate(10deg) scale(0.2);
      transform: translate(-40vw, -10vh) rotate(10deg) scale(0.2);
      opacity: 0;
    }
    20%,
    95% {
      -webkit-transform: translate(0, 0) rotate(10deg) scale(1);
      transform: translate(0, 0) rotate(10deg) scale(1);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(10deg);
      transform: translate(0, 0) rotate(10deg);
    }
  }
  .green-line {
    background-color: white;
    height: 2px;
    width: 8%;
    box-shadow: 0 0 5px #3bfc9b, 0 0 10px #3bfc9b, 0 0 14px #3bfc9b,
      0 0 20px #3bfc9b, 0 0 25px #3bfc9b, 0 0 35px #3bfc9b, 0 0 45px #3bfc9b,
      0 0 60px #3bfc9b;
    z-index: 0;
    position: absolute;
    animation: green-line-animation 4s infinite 2s;
    visibility: hidden;
    will-change: transform, opacity, visibility, opacity;
    left: 70.5%;
    top: 90%;
  }
  
  @keyframes green-line-animation {
    0% {
      visibility: visible;
      -webkit-transform: translate(0, 0) rotate(52deg);
      transform: translate(0, 0) rotate(52deg);
    }
    15% {
      -webkit-transform: translate(-20vw, -40vh) rotate(52deg) scale(0.2);
      transform: translate(-20vw, -40vh) rotate(52deg) scale(0.2);
      opacity: 0;
    }
    20%,
    95% {
      -webkit-transform: translate(0, 0) rotate(52deg) scale(1);
      transform: translate(0, 0) rotate(52deg) scale(1);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(52deg);
      transform: translate(0, 0) rotate(52deg);
    }
  }
  .orange-line {
    background-color: white;
    height: 2px;
    width: 5%;
    box-shadow: 0 0 5px #ff7d13, 0 0 10px #ff7d13, 0 0 14px #ff7d13,
      0 0 20px #ff7d13, 0 0 25px #ff7d13, 0 0 35px #ff7d13, 0 0 45px #ff7d13,
      0 0 60px #ff7d13;
    z-index: 0;
    position: absolute;
    animation: line-animation 4s infinite;
    visibility: hidden;
    will-change: transform, opacity, visibility, opacity;
    left: 30%;
    top: 90%;
  }
  
  @keyframes line-animation {
    0% {
      visibility: visible;
      -webkit-transform: translate(0, 0) rotate(-45deg);
      transform: translate(0, 0) rotate(-45deg);
    }
    15% {
      -webkit-transform: translate(20vw, -40vh) rotate(-45deg) scale(0.2);
      transform: translate(20vw, -40vh) rotate(-45deg) scale(0.2);
      opacity: 0;
    }
    20%,
    95% {
      -webkit-transform: translate(0, 0) rotate(-45deg) scale(1);
      transform: translate(0, 0) rotate(-45deg) scale(1);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(-45deg) scale(1);
      transform: translate(0, 0) rotate(-45deg) scale(1);
    }
  }
  .orange-line-2 {
    background-color: white;
    height: 2px;
    width: 7%;
    box-shadow: 0 0 5px #ff7d13, 0 0 10px #ff7d13, 0 0 14px #ff7d13,
      0 0 20px #ff7d13, 0 0 25px #ff7d13, 0 0 35px #ff7d13, 0 0 45px #ff7d13,
      0 0 60px #ff7d13;
    z-index: 0;
    position: absolute;
    animation: orange-line-animation 4s infinite 1s;
    visibility: hidden;
    will-change: transform, opacity, visibility, opacity;
    top: 8%;
    left: 90%;
  }
  
  @keyframes orange-line-animation {
    0% {
      visibility: visible;
      -webkit-transform: translate(0, 0) rotate(-25deg);
      transform: translate(0, 0) rotate(-25deg);
    }
    15% {
      -webkit-transform: translate(-40vw, 42vh) rotate(-25deg) scale(0.2);
      transform: translate(-40vw, 42vh) rotate(-25deg) scale(0.2);
      opacity: 0;
    }
    20%,
    95% {
      -webkit-transform: translate(0, 0) rotate(-25deg) scale(1);
      transform: translate(0, 0) rotate(-25deg) scale(1);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(-25deg) scale(1);
      transform: translate(0, 0) rotate(-25deg) scale(1);
    }
  }